.body {
    margin: 0;
}

.navigation{
    float: right;
    height: 100%;
    width: 100%; /* Ширина блока */
    background-color: #101010;
}

.navigation a{
    right: 80%;
    height: 10%;
    display: flex;
    float: right;
    padding: 15px 20px;
    margin: 10px 20px 10px 30px;
    background-color: #101010;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.header{
    height: 100%;
    display: table;
    padding: 0px 5px;
}

img{
    width: 450px;
    height: 400x;
}

.content{
    display: inline-block;
    margin: 0;
}
